<!DOCTYPE html>
<html>

<head>
	{% load static %}
	<title>To Do Project</title>
	
	<meta http-equiv="Cache-Control" content="no-cache">
	
	<link rel="stylesheet" type="text/css" href="{% static 'myApp/css/style.css' %}">
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>

	<script type="text/javascript" src="{% static 'myApp/js/todo.js' %}"></script>

	<!-- <script type="text/javascript" src="{% static 'myApp/js/angular.min.js' %}"></script> -->
</head>

<body >
{% verbatim %}
<body ng-app="toDo" ng-controller="toDoController">
	<h1>To Do List</h1>

	<form ng-submit="todoAdd()">
		<input type="text" ng-model="todoInput" placeholder="Add a new to do...">
		<input type="submit" value="submit">
	</form>
	<br>
	<div ng-repeat="todo in todoList">
		<input type="checkbox" ng-model="done">
		<span ng-bind="todo.todoText"></span>
	</div>
	<p>
		<button ng-click="remove()">Done</button>
	</p>

{% endverbatim %}
</body>
</html>